<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand">Angular tutorial pt. 1</span>
  <span *ngIf="route === 'home'" class="navbar-brand">Welcome!</span>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button
      *ngFor="let r of routes"
      type="button"
      class="btn btn-primary"
      [class.btn-secondary]="route !== r"
      (click)="route = r">{{ r }}</button>
  </div>
</nav>

<app-login *ngIf="route === 'login'" (status)="onLogin($event)" [username]="'username'"></app-login>

<div app-home *ngIf="route === 'home'"></div>
